[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/fukugit/github-style.git
[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes/mainroad2"]
	path = themes/mainroad2
	url = https://github.com/fukugit/Mainroad.git
