[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/fukugit/Mainroad.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity.git
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/themefisher/liva-hugo.git
[submodule "themes/skeleton"]
	path = themes/skeleton
	url = https://github.com/fukugit/skeleton.git
